body{
    margin: 0;
    background-image: url('image/man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    min-height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    background-color: rgb(255,251,251, 0.4);
    margin: 100px;
    margin-left: 80px;
    margin-right: 200px;
    border-radius: 20px;

    padding: 20px;
}
h1 {
    padding-top: 20px;
    font-size: 60px;
}
.task-area{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    border: 4px solid rgb(96, 102, 98);
    border-radius: 10px;
}

input{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border-color: #fff;
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#add{
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight:bold;
    background-color: rgb(70,118,251);
}
.check {
    /* margin: 10px; */
    height: 30px;
    width: 70px;
    border-radius: 20px;
    /* font-weight: bold; */
    background-color: rgb(133, 255, 133, 0.6);
    font-weight: 500;
}

.delete {
    /* margin: 10px; */
    margin-left: 10px;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    /* font-weight: bold; */
    background-color: rgb(249, 95, 133, 0.8);
    font-weight: 500;
}
.tabs{
    display: flex;
    justify-content: column;
    position: relative;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.tab{
    padding: 1em;
    font-size: 28px;
}

#shadow{
    position: absolute;
    margin-top: 10px;
    background-color: rgb(147, 0, 108);
    height: 1px;
    width: 1px;
    left: 1px;
    border-radius: 3px;
    transition: 0.4s;
    z-index: -1;
}
.todo {
    display: flex;
    justify-content: space-between;

    padding: 1em;
    background-color: rgb(211, 219, 202, 0.6);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.item {
    font-weight: 500;
    font-size: 25px;
}

.todo.completed {
    /* text-decoration: line-through; */
    background-color: rgb(191, 197, 251, 0.6);
}

div .completed {
    color: rgb(252, 108, 108);
}